@tailwind base;
@tailwind components;
@tailwind utilities;

.radius {
  border-radius: 8px !important;
}

wui-connect-button {
  width: "140px" !important;
  background-color: red !important;
  color: red !important;
}