@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.radius {
  border-radius: 8px !important;
}

button.iekbcc0.iekbcc9.ju367v73.ju367v7o.ju367v9c.ju367vn.ju367vec.ju367vex.ju367v11.ju367v1c.ju367v2b.ju367v8o._12cbo8i3.ju367v8m._12cbo8i4._12cbo8i6 {
  font-family: 'Roboto Condensed' !important;
  border-radius: 8px !important;
}